html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Montserrat','Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header{
    height: 500px;
    width: auto;
    right: 0;
    bottom: 0;
    top:0; 
    left: 0;
    z-index: 2;
    -webkit-box-pack: center;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header_inner{
    position: fixed; top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.logo{
    
    width: 600px;
    height: 50px;
}

.img_logo{
    margin-right: 25px;
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.header_logo{
    position: absolute;
    top: 8px;
    left: 40px;
    font-size: 30px;
    color: #01aa25;
}
.header_text{
    position: absolute;
    top: 12px;
    left: 83px;
    font-size: 25px;
    color: white;
}

.nav{
    position: absolute; right:10px;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    margin-top: 25px;
}

.nav_link{
    text-decoration: none;
    position: absolute;right: 15px;
    top: 12px;
    font-size: 25px;
    color: white;
}


.search{
    position: absolute;
    top: 0;
    margin:100px auto;
    width: 100%;
    height: 215px;
    text-align: center;
    font-size: 40px;
    color: white;
}


#search_box{
    font-family: 'Roboto', sans-serif;
    margin: 25px auto;
    width: 47%;
    height: 60px;
    font-size: 20px;
    color: #5e5e5e;
    background-color: white;
    border-radius: 10px;
}

#q{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 90%;
    height:60px;
    border: none;
    font-size: 25px;
    border: none;
    outline: 0;
    outline-offset: 0;
}
#qq
{
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    position: absolute; right:10px;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    margin-top: 25px;
}

#find{
    height: 25px;
    width: 25px;
    vertical-align: -5px;
    opacity: .6;   
}

/* end header block */

/* Category block*/

.category{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 100%;
    height: 41px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    
    box-shadow: -1px 2px 9px 1px rgb(0 0 0 / 8%);
}

.cat_nav_link{
    display: inline-block;
    vertical-align: center;
    top: 5px;
    font-size: 25px;
    margin: 0 30px;
    text-decoration: none;
    color: gray;
    position: relative;
    transition: color .2s liner;
}


/* выделение менюшек*/
.cat_nav_link:hover{
    color: #01aa25;
}


/*для появления полосочки при наведении*/
.cat_nav_link:after{
    content: "";
    display: none;
    width: 100%;
    height: 5px;
    background-color: #01aa25;
    position: absolute;
}

.cat_nav_link:hover:after{
    display: block;
}

.cat_menu{
    width:auto;
    color: #01aa25;
    position: relative;
    box-shadow: -1px 2px 9px 1px rgb(0 0 0 / 8%);
    width: 100%;
    height: 100px;
    margin: 0;
    display: none;
    
}

.cat_menu ul{
    margin: 0;
    position: relative;
    
}
/*end Category block*/


/* Content */
.content{
    background-color: gray;
    width: 100%;
    
}

@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0px;
}
div#captioned-gallery {
  height: 100%; 
  width: 100%; overflow: hidden; 
  padding-top:0%;
  object-fit: cover;
    
}
.slider {  
  position: relative;
  width: 500%; 
  height: 100%;
  margin: 0px;
  font-size: 0;
  animation: 30s slidy infinite;
  display: flex;
}

.slider figure { 
    width: 20%;
    height: auto;

     
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    background-color: #464646; 
    position: relative;
   
  

}


.content{
    background-color: white;
    max-width: 1450px;
    min-height: 1500px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.45rem;
    

    display: flex;
    width: 100%;
    position: relative; 
}

.photo_col{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 1.45rem;
    height: 100%;
    width: 100%;
    left: 0;
}

.photo_col img{
    width: 100%;
    margin-bottom: 1.45rem;
}



/*modal window*/

.modal_window{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
}

.modal_win_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.modal_content{
    width: 50%;
    max-width: 1000px;
    height: 90%;
    max-height: 900px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: grid;
    
}

.canvas-container{
    grid-area: 1 / 1 / 5 / 4;
    background-color: rgb(255, 0, 85);
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    visibility: hidden;
}  
   
canvas{
    position:absolute;
}
.close
{
    text-decoration:none;
    cursor: pointer;
    position: absolute;
    padding-top: 0px;
    top: 10px;
    right: 10px;
}
.close::before
{
    content: "\f057";
    font-family: FontAwesome;
    font-size: 40px;
    opacity: 0.8;
    color: #bebebe;
}
.canvas-info{
    text-align: center;
    grid-area: 1 / 4 / 5 / 6;
    border: 1px solid gray;
    color: rgb(51, 51, 51);
    display: grid;
    padding: 10px;
    
}
.loading-model{
    position: absolute;
   
}
.loading-model span {
    margin: 0;
    position: absolute;               
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    size: auto;
    
}
.canvas-container img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: blur(7px);
    position: relative;
}

.canvas-buttons{
    grid-area: 5 / 1 / 6 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiewmodel, .rotatebutton, .downloadmodel{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    margin: 10px;
}

/*grid-area: 1 / 4 / 6 / 6;*/
.photo_col {
    display: inline-block;
    margin-bottom: 50%; 
    overflow: hidden; /* Скрываем всё за контуром */
  }
  .photo_col img {
    transition: 1s; /* Время эффекта */
    display: block; 
  }
  .photo_col img:hover {
    transform: scale(1.05); /* Увеличиваем масштаб */
  }